<form [formGroup]="form" (ngSubmit)="logIn()">
    <div *ngIf="form.errors" class="alert alert-danger">
        UserName or Password is Invalid.
    </div>
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
                <div *ngIf="userName?.pending">Checking for Uniqueness...</div>
                <div *ngIf="userName?.touched && userName?.invalid" class="alert alert-danger">
                    <div *ngIf="userName?.errors?.['required']">UserName is required</div>
                    <div *ngIf="userName?.errors?.['minlength']">UserName Should contains min of {{userName?.errors?.['minlength'].requiredLength}} Char</div>
                    <div *ngIf="userName?.errors?.['cannotConatinSpace']">UserName Cannot Contain Space.</div>
                    <div *ngIf="userName?.errors?.['shouldBeUnique']">UserName already taken.</div>
                </div>
                
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
                <div *ngIf="passWord?.touched && passWord?.invalid" class="aler alert-danger">Password is required.</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>