 <!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">BODY
        <h2>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </h2>
    </div>
 </bootstrap-panel> -->
<!-- <likes
[isLiked]="tweet.isLiked"
[likesCount]="tweet.likesCount"
(likechanges)="onLikeChanged($event)"></likes> -->


<!-- ngIf -->
<!-- <div *ngIf="courses.length>0; else noCourses">
    List Of Courses
</div>
<ng-template #noCourses>
    No Courses Yet
</ng-template> -->
<!-- <div *ngIf="courses.length>0;then coursesList else noCourses"></div>
<ng-template #coursesList>
    List Of Courses
</ng-template>
<ng-template #noCourses>
    No Courses Yet`
</ng-template> -->

<!-- hidden -->
 <!-- <div [hidden]="courses.length>0">
    Course List
 </div>
 <div [hidden]="courses.length==0">
    No Course yet
 </div> -->

 <!-- ngSwitchCase -->
  <!-- <ul class="nav nav-pills">
    <li [class.active]="viewmode=='map'"><a (click)="viewmode='map'">Map View</a></li>
    <li [class.active]="viewmode=='list'"><a (click)="viewmode='list'">List View</a></li>
  </ul>
  <div [ngSwitch]="viewmode">
        <div *ngSwitchCase="'map'">Map View Content</div>
        <div *ngSwitchCase="'list'">List View Content</div>
        <div *ngSwitchDefault>OtherWise</div>
  </div> -->

  <!-- ngFor -->
   <!-- <button (click)="onAdd()">Add</button> -->
    <!-- <button (click)="loadCourses()">Load Courses</button>
   <ul>
    <li *ngFor="let course of courses; trackby: trackCrouse">
        {{course.course}} 
    </li>
   </ul> -->

<!-- ngStyle -->
 <!-- <button
 [ngStyle]="{
    'style.backgroundColor':canSave?'blue':'gray',
    'style.color':canSave?'white':'black',
    'style.fontWeight':canSave?'bold':'normal'
 }"
 >Save</button> -->

<!-- SafeTravesak -->
 <!-- <span *ngIf="task.assigne">{{task.assigne?.name}}</span> -->

 <!-- Custom-Directive -->
  <!-- <input type="text" [appInputFormat]="'uppercase'"> -->

  <!-- directive_assignment -->
<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Binding Details">
    Binding Details Content
</zippy> -->


<!-- Template-Driven-Forms -->
<!-- <contact-form></contact-form> -->
<!-- <udcourse-form></udcourse-form> -->

<!-- Reactive-Forms -->
<!-- <signup-form></signup-form> -->
<new-course-form></new-course-form>
